* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20px;
}

a {
    text-decoration: none;
}

.sec-0 {
    display: flex;
    flex-direction: column;
}

.logo-text {
    display: flex;
}

.logo {
    margin-right: 5px;
}

.sec-1 {
    display: grid;
    grid-template-columns: 45% 55%;
    row-gap: 30px;
}